<%= form_with(model: caw, local: true) do |form| %>
  <% if caw.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(caw.errors.count, "error") %> prohibited this caw from being saved:</h2>

      <ul>
      <% caw.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="form-group">
    <%= form.text_field :message, placeholder: "@#{current_user.username} is thinking about...", class: "form-control" %>
  </div>

  <div class="field">
    <%= form.hidden_field :user_id, value: current_user.id %>
  </div>

  <div class="form-group">
    <%= form.submit "Caw Caw!", class: "btn btn-primary" %>
  </div>
<% end %>
