<div>
   <h1><%= @tag.phrase %></h1>
</div>

<div class="row">
 <!-- a place for current user stats -->
 <div>
   <% @tag.caws.order(created_at: :desc).each do |caw| %>
       <p>
        <%= caw.user.name %> <%= "@#{caw.user.username}" %>
        • <%= time_ago_in_words(caw.created_at) %>
       </p>
    <p>
        <%= caw.message.html_safe %>
    </p>
   <% end %>
  </div>
</div>